@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins',arial;
}

                            /*Navbar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {width: 100%;}

.nav-container {
  background: #000000;
}

.navtext a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 0 1em;
  }

  .navtext ul {
        display: flex;
  }

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.logo {
  color: #00E8FF;
  font-weight: bold;
}

.hero-design {
  display: none;
}

                            /*Hero banner*/

.hero {
  background-size: cover;
  background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
display: flex;
margin: 0 auto;
width: 200px;
font-weight: bold;
font-size: larger;
color: #FF64CB;
}

span {
  margin-top: 1em;
  margin-right: .5em;
}



                            /*Featured chas*/

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured img {
  border-radius: 1em;
}

.featured ::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6E00FF;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
  margin-bottom: 2em;
}

                            /*Info kort*/

.skills {
  background:#6E00FF
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skill-title {
  font-weight: bold;
}

                            /*Portfolio*/

.portfolio {
  background: white;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

                            /*Footer*/

.footer{
    height:  90px;
    width: 100%;
    background-color:#000000;
    position: relative;
}

.footer > .footer-header {
    display: inline;
}

.footer-title {
    display: inline-block;
    font-size: 22px;
    color: aliceblue;
    padding: 13px; 
}

.footer-links {
  display: inline;
}

                            /*CV*/

.headline{
    display: block;
    margin-top:-1.7rem;
    width: 100%;
    height: 40vh;
    min-height: 200px;
    background-size: cover;
    background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.7));
}

.svartvit {
  display: block;
    width: 100%;
    height: 40vh;
    min-height: 200px;
    background-size: cover;
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

.headline img {
   display: none;
}

.headline h1 {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-size: 40px;
    font: bold;
    color: rgb(196, 34, 34);
      
}

.dv {
    text-align: center;
    margin-top: 3rem;
    font-size: 30px;
    font: bold;
    color: rgb(182, 26, 26);
}

h2 {
    color: rgb(182, 26, 26);
    text-transform: uppercase;
    text-align: center;
}

.pres {
    text-align: center;
    margin-top: -2rem;
    padding: 2rem;   
}

.grid-container {
    display: grid;
    place-items: left;
    grid-template-columns: 20% 60% 20% ;
    grid-row: 2;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
     margin-left: 1rem;
     margin-right: 5rem;

}

  .item4 { 
    grid-column-start: 2;
    grid-column-end: 3;

}

.språkdiv p {
  margin-bottom: -4rem;
}

.övriga {
  margin-bottom: 4rem;
}


                            /*Media aka responsiv 800px*/

@media only screen and (min-width: 800px) {

   .navtext li a:hover{
        color: #00E8FF ;
        text-decoration: underline;  
    }
  
  .featured, .portfolio {
    text-align: left;
  }

  .featured {
    display: grid;
    grid-template-columns: 40% auto;
    grid-row: 1;
  }

  .portfolio-contleft {
    display: grid;
    grid-template-columns: 40% auto;
    grid-row: 1;
    padding-bottom: 2em;
  }

  .portfolio-contright {
    display: grid;
    grid-template-columns: auto 40% ;
    grid-row: 1;
    padding-bottom: 2em;
  }

.item5 {
    padding-left: 1em;
}

.item6 { 
    grid-column: 1;
    grid-row: 1;
}

.item6 a img { 
   float: left;
}


  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
    
  .grid-container { 
    padding-left: 10rem;
    padding-right: 10rem;
}

}

                            /*Media aka responsiv 1050px*/

@media only screen and (min-width: 1050px) {
  
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: #6E00FF;
    padding: 0;
    height: 70vh;
    }
    
    .content {
      background-size: cover;
      background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.7));
      padding: 6em 8em 6em 4em;
      text-align: left;
    }

    .content h1 {
      font-size: 3em;
      line-height: 1.em;
    }

    .meet {
      margin: unset;
    }

    .hero-design {
      display: unset;
      margin-left: -50%;
      width: 100%;
    }

    header {
      padding: 2em 4em 2em 4em;
    }

    section {
      padding: 4em;
    }

   .portfolio img {
      float: right;
      max-width: 500px;
   }
  
  }

                              /*Media aka responsiv 1250px*/

  @media only screen and (min-width: 1250px) {

    header {
      padding: 2em 10em 2em 10em;
    }

    section {
      padding: 10em 10em 4em 10em;;
    }

    .hero .content {
      padding: 6em 8em 6em 10em;
    }

    .headline img {
      position: absolute;
      display: flex;
      border: none;
      border-radius: 10px;
      width: 300px;
      height: 300px;
      padding-left: 9rem;
      padding-top: 1rem;
  }

  }

                              /*Media aka responsiv 1550px*/

  @media only screen and (min-width: 1550px) {

    header {
      padding: 2em 20em 2em 20em;
    }

    section {
      padding: 6em 20em 4em 20em;;
    }

    .hero .content {
      padding: 9em 20em 6em 20em;
    }

  }

  

  